.Header{
    display:flex;
    flex-flow: row-reverse wrap;   
    position: relative;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    &-img{
        width: 50%;
        background-color: white;
    }
    &-nav{
        display: none; 
        width: 100%;
        background-color: #6397EE;       
        &-item{
            background-color: white;
            width: 25%;
            border-radius: 0.1em;            
            box-sizing: border-box;
            list-style: none;
            display: inline-block;
            margin: 0.2em 0.2em;
            text-align: center;
            padding: 0 0.5em;
        }
    }

    &-ul{                    
        display: flex;
        width: 100%;
        position: relative;
        justify-content: space-around;
        padding: 0;
        margin: 0.3em 0;
        box-sizing: border-box;
    }
}