.Header{
    display:flex;
    flex-flow: row-reverse nowrap;   
    position: relative;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    &-img{
        width: 50%;
        background-color: white;
    }
    &-nav{
        display: none; 
        width: 100%;
        font-weight: bold;            
    }

    &-ul{                    
        display: flex;
        width: 100%;
        position: relative;
        justify-content: space-around;
        padding: 0;
        margin: 0.3em 0;
        box-sizing: border-box;
    }

    @media screen and (min-width: 1024px) {
        justify-content: center;
        &-nav{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            &-item{
                & a{
                    text-decoration: none;
                    color: black;
                }                
                height: 3em;
                line-height: 3em;
                //....                
                background-color: white;
                width: 15%;
                border-radius: 0.1em;            
                box-sizing: border-box;
                list-style: none;
                display: inline-block;
                text-align: center;
                & a:visited{
                    color: black;
                }
                &:hover{
                    border-bottom: 0.2em solid blueviolet;
                }
            }
        }
        &-img{
            max-width: 10%;
        }
        &-menu{
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-end;
            width: 50%;
        }
        &-ul{
            display: flex;
            justify-content: flex-end;
            margin: 0;
        }
      }
}