.Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse wrap;
          flex-flow: row-reverse wrap;
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.Header-img {
  width: 50%;
}

.Header-nav {
  display: none;
  width: 100%;
  background-color: #6397EE;
}

.Header-nav-item {
  background-color: white;
  width: 25%;
  border-radius: 0.1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  display: inline-block;
  margin: 0.2em 0.2em;
  text-align: center;
  padding: 0 0.5em;
}

.Header-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
  margin: 0.3em 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Left-menu, .Right-menu {
  display: none;
}

.Article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  position: relative;
}

.Article-hardware-checkbox:checked + .Section-hardware {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.Article-software-checkbox:checked + .Section-software {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.Article-game-checkbox:checked + .Section-game {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.Article-general-checkbox:checked + .Section-general {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.Label-item {
  background-color: #6397EE;
  width: 100%;
  border-radius: 0.3em;
  height: 4em;
  line-height: 4em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.05em 0.2em;
  text-align: center;
  padding: 0 0.5em;
  font-weight: bold;
  font-size: 1.5em;
}

.Label-item-image {
  height: 100%;
}

.News {
  display: inline-block;
  position: relative;
  background-color: white;
  height: 0px;
  overflow: hidden;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  padding: 0 0.5em;
}

.News-img {
  width: 100%;
}

.checkbox {
  position: absolute;
  display: none;
}

.Footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Footer-p {
  padding: 0;
  margin: 0;
}

.Footer-item {
  display: inline-block;
}
/*# sourceMappingURL=style.css.map */