.Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse nowrap;
          flex-flow: row-reverse nowrap;
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.Header-img {
  width: 50%;
  background-color: white;
}

.Header-nav {
  display: none;
  width: 100%;
  font-weight: bold;
}

.Header-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
  margin: 0.3em 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 1024px) {
  .Header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .Header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .Header-nav-item {
    height: 3em;
    line-height: 3em;
    background-color: white;
    width: 15%;
    border-radius: 0.1em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    list-style: none;
    display: inline-block;
    text-align: center;
  }
  .Header-nav-item a {
    text-decoration: none;
    color: black;
  }
  .Header-nav-item a:visited {
    color: black;
  }
  .Header-nav-item:hover {
    border-bottom: 0.2em solid blueviolet;
  }
  .Header-img {
    max-width: 10%;
  }
  .Header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 50%;
  }
  .Header-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0;
  }
}

.Left-menu, .Right-menu {
  display: none;
}

.Article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Article-hardware-checkbox:checked + .Section-hardware {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.Article-software-checkbox:checked + .Section-software {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.Article-game-checkbox:checked + .Section-game {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.Article-general-checkbox:checked + .Section-general {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.Label-item {
  background-color: #6397EE;
  width: 100%;
  border-radius: 0.3em;
  height: 4em;
  line-height: 4em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.05em 0.2em;
  text-align: center;
  padding: 0 0.5em;
  font-weight: bold;
  font-size: 1.5em;
}

.Label-item-image {
  height: 100%;
}

@media screen and (min-width: 1024px) {
  .Label-item {
    max-width: 60%;
  }
}

.News {
  display: inline-block;
  position: relative;
  background-color: white;
  height: 0px;
  overflow: hidden;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  padding: 0 0.5em;
}

.News-img {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .News {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    max-width: 60%;
  }
}

.checkbox {
  position: absolute;
  display: none;
}

.Footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Footer-p {
  padding: 0;
  margin: 0;
}

.Footer-item {
  display: inline-block;
}

body {
  font-family: Arial, Arial, Helvetica, sans-serif;
}
/*# sourceMappingURL=style.css.map */